
.container {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-content: center;
}

.innerContent {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 50vw;
}

/* #images {
    width: 10px;
} */
img {
    /*position: relative;*/
    /*max-height: 80vh;*/
    max-width: 50vw;
    object-fit: contain;
    float: left;
}

/*.page {*/
/*    font-family: "Comic Sans MS", sans-serif;*/
/*}*/

/*.h1 {*/
/*    font-family: "Comic Sans MS", sans-serif;*/
/*}*/
/*.h2 {*/
/*    font-family: "Comic Sans MS", sans-serif;*/
/*}*/

body,html {
    font-family: "Segoe UI", sans-serif;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-color: darkgray;
    background-blend-mode: screen;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.searchBox {
    font-family: "Segoe UI", sans-serif;
    max-width: 50%;
    min-height: 60%;
    max-height: 80%;
    background-color: rgba(255,255,255, 0.95);
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
}

#manga-search {
    border-radius: 25px;
    width: 300px;
    height: 50px;
    padding-left: 20px;
    margin-right: 10px;
}

#search-button {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #0096FA;
    border: none;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    border-radius: 25px;
    padding-bottom: 2px;
}

#search-button:hover {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #0096FA;
    border: none;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    border-radius: 25px;
    padding-bottom: 2px;
}

/* images.html */

