.container {
    display: flex;
    flex-direction: row;
}
.innerContent {
    width: 50%;
    flex: 1;
}
/* #images {
    width: 10px;
} */
img {
    position: relative;
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    float: left;
}